
@model Catalog

@if (Model != null)
{
    <h2>Поточна папка: @Model.Name</h2>

    @if (Model.SubCatalogs != null && Model.SubCatalogs.Any())
    {
        <ul>
            @foreach (var subCatalog in Model.SubCatalogs)
            {
                <li>
                    <!-- Використовуємо форму для відправки POST-запиту на сервер, стилізовану як гіперпосилання -->
                    <form asp-action="ChangeCurrentCatalog" asp-controller="Catalog" method="post" style="display: inline;">
                        <input type="hidden" name="CatalogName" value="@subCatalog.Name" />
                        <a href="javascript:void(0);" onclick="this.parentNode.submit();" style="color: blue; text-decoration: underline; cursor: pointer;">@subCatalog.Name</a>
                    </form>
                </li>
            }
        </ul>
    }
    else
    {
        <p>Каталогів немає</p>
    }
}
else
{
    <p>Модель є нульовою.</p>
}

<a href="~/">Повернутися на головну сторінку</a>